<div class="container">
  <div>
    <form [formGroup]="formGroup">
      <div>
        <img *ngIf="url" [src]="url" />
        <input
          type="file"
          id="file"
          formControlName="formImage"
          (change)="handleFileInput($event)"
        />
      </div>
    </form>
  </div>
  <div>
    <form class="user_form" (ngSubmit)="saveUser()" [formGroup]="formUser">
      <input formControlName="firstName" type="text" />
      <input formControlName="lastName" type="text" />
      <label>
        <input type="radio" value="Male" formControlName="gender" />
        <span>male</span>
      </label>
      <label>
        <input type="radio" value="Female" formControlName="gender" />
        <span>female</span>
      </label>
      <div>
        <button type="submit">SAVE</button>
      </div>
    </form>
  </div>
</div>
